#skills-section {
  .title {
    &::before {
      font-family: "FontAwesome";
      content: "\f0ad ";
      margin-right: 0.25em;
    }

    text-align: center;
    font-family: 'Audiowide', Helvetica, sans-serif;
    color: $teal;
    margin-bottom: 10%;
  }

  #primary-skills-list {
    .skill {
      padding: 0.7em;
      flex: none;
      width: 50%;

      @media (min-width: 400px) {
        width: 33.333%;
      }

      @media (min-width: $tablet) {
        padding: 1em;
        width: 25%;
      }

      @media (min-width: $fullhd) {
        width: 16.66667%;
      }
    }

    .skill-meter {
      @include hover-grow(1.1);

      padding: 2em;
      font-size: 0.7em;
      width: 100%;

      @media screen and (min-width: 600px) {
        padding: 2.5em;
        font-size: 1em;
      }
    }

    margin: 10% 0;
  }

  #secondary-skills-list {
    .card {
      @include hover-grow(1.2);

      font-size: 0.6em;
      height: 3em;
      color: $teal;
      background-color: #fff;
      border-radius: 30%/100%;

      @media screen and (min-width: 375px) {
        font-size: 0.7em;
      }
    }

    width: 96%;
    margin: 0 auto;
  }

  background: #eee url("/assets/img/cubes.png");
}
