.hero.intro-hero {
  background: url("high-tech-bg.jpg") no-repeat center center fixed;
  background-size: auto 100%;
}

.hero-body .intro {
  margin: 0 auto 15%;
  padding: 1%;
  max-width: 650px;
  font-family: 'Ubuntu', sans-serif;
  text-align: justify;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.intro .name {
  text-align: center;
  font-family: 'Audiowide', cursive;
  color: red;
}

.social-links {
  margin: 0 auto;
  max-width: 650px;
}

.avatar.image {
  margin: 5% auto;
}

.avatar.image img {
  border-radius: 50%;
}
