.skills {
  .title {
    &::before {
      font-family: "FontAwesome";
      content: "\f0ad ";
      margin-right: 0.25em;
    }

    text-align: center;
    font-family: 'Audiowide', Helvetica, sans-serif;
    color: $teal;
  }

  #primary-skills-list {
    .skill {
      padding: 0.7em;
      flex: none;
      width: 50%;

      @media (min-width: 400px) {
        width: 33.333%;
      }

      @media (min-width: $tablet) {
        padding: 1em;
        width: 25%;
      }

      @media (min-width: $fullhd) {
        width: 16.66667%;
      }
    }

    .skill-meter {
      @include hover-grow(1.1);

      padding: 2em;
      font-size: 0.7em;
      width: 100%;

      @media screen and (min-width: 600px) {
        padding: 2.5em;
        font-size: 1em;
      }
    }

    margin-bottom: 1.5em;
  }

  #secondary-skills-list {
    .tag {
      @include hover-grow(1.2);

      font-size: 0.65em;
      height: 3em;
      color: $teal;
      background-color: #fff;

      @media screen and (min-width: 360px) {
        font-size: 0.8em;
      }
    }
  }

  background-color: #eee;
  padding: 2em;
}
