.skills {
  .title {
    &::before {
      font-family: "FontAwesome";
      content: "\f0ad ";
      margin-right: 0.25em;
    }

    text-align: center;
    font-family: 'Audiowide', Helvetica, sans-serif;
  }

  .primary-skills-list {
    .card-content {
      height: 4em;
      padding: 1em;
    }
  }

  .secondary-skills-list {
    .tag {
      font-size: 0.65em;
      height: 3em;

      @media screen and (min-width: 360px) {
        font-size: 0.75em;
      }
    }
  }

  padding: 2em;
}
