$teal: #048c6e;
$teal-light: #3dab93;
$teal-dark: #005744;
$magenta: #94145c;
$magenta-light: #c25091;
$magenta-dark: #580032;

$elsewhere-colors: (
  github: #666,
  stackoverflow: #d95706,
  linkedin: #4873ae,
  mail: #970505,
  spotify: #149414,
);
