@import "colors";
@import "breakpoints";
@import "skills-list";

//external
@import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Audiowide|Ubuntu:400,700");

body {
  background-color: $teal-light;
}

.avatar-card {
  .avatar {
    img {
      border-radius: 50%;
    }

    margin: 5% auto;
  }

  .title.name {
    text-align: center;
    font-family: 'Audiowide', Helvetica, sans-serif;
    color: $magenta-light;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

.intro-hero {
  .intro {
    margin: 0 auto 15%;
    padding: 1%;
    max-width: 650px;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  min-height: 100vh; // fix for mobile browser address bar appearing disappearing
  background: url("/public/assets/high-tech-mobile-bg.jpg") center center / cover no-repeat;

  @media screen and (min-width: $tablet) {
    background: url("/public/assets/high-tech-bg.jpg") center center / cover no-repeat fixed;
  }
}

.elsewhere {
  .elsewhere-item a {
    @each $item, $color in $elsewhere-colors {
      &.#{$item} {
        &:active,
        &:hover {
          color: $color;
        }
      }
    }
  }

  margin: 0 auto;
  max-width: 650px;
}

