$teal: #048c6e;
$teal-light: #3dab93;
$teal-dark: #005744;
$magenta: #94145c;
$magenta-light: #c25091;
$magenta-dark: #580032;

$elsewhere-colors: (
  github: #666,
  stackoverflow: #d95706,
  linkedin: #4873ae,
  mail: #970505,
  spotify: #149414,
);

body {
  background-color: $teal-light;
}

.avatar-card {
  .avatar {
    img {
      border-radius: 50%;
    }

    margin: 5% auto;
  }

  .title.name {
    text-align: center;
    font-family: 'Audiowide', Helvetica, sans-serif;
    color: $magenta;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

.intro-hero {
  .intro {
    margin: 0 auto 15%;
    padding: 1%;
    max-width: 650px;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  height: 100vh; // fix for mobile browser address bar appearing disappearing
  background: url("/public/assets/high-tech-bg.jpg") no-repeat center center;
  background-size: cover;
}

.elsewhere {
  .elsewhere-item a {
    @each $item, $color in $elsewhere-colors {
      &.#{$item} {
        &:active,
        &:hover {
          color: $color;
        }
      }
    }
  }

  margin: 0 auto;
  max-width: 650px;
}

