@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Audiowide|Ubuntu:400,700");
.skills {
  background-color: #eee;
  padding: 2em; }
  .skills .title {
    text-align: center;
    font-family: 'Audiowide', Helvetica, sans-serif;
    color: #048c6e; }
    .skills .title::before {
      font-family: "FontAwesome";
      content: "\f0ad ";
      margin-right: 0.25em; }
  .skills #primary-skills-list {
    margin-bottom: 1.5em; }
    .skills #primary-skills-list .skill-meter {
      transition: all 0.2s ease-in-out;
      padding: 1.5em;
      font-size: 0.85em;
      width: 100%; }
      .skills #primary-skills-list .skill-meter:hover {
        transform: scale(1.1); }
      @media screen and (min-width: 600px) {
        .skills #primary-skills-list .skill-meter {
          padding: 3em;
          font-size: 1em; } }
  .skills #secondary-skills-list .tag {
    transition: all 0.2s ease-in-out;
    font-size: 0.65em;
    height: 3em;
    color: #048c6e;
    background-color: #fff; }
    .skills #secondary-skills-list .tag:hover {
      transform: scale(1.2); }
    @media screen and (min-width: 360px) {
      .skills #secondary-skills-list .tag {
        font-size: 0.8em; } }

body {
  background-color: #3dab93; }

.avatar-card .avatar {
  margin: 5% auto; }
  .avatar-card .avatar img {
    border-radius: 50%; }
.avatar-card .title.name {
  text-align: center;
  font-family: 'Audiowide', Helvetica, sans-serif;
  color: #ae2d76;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.intro-hero {
  min-height: 100vh;
  background: url("/public/assets/high-tech-mobile-bg.jpg") center center/cover no-repeat; }
  .intro-hero .intro {
    margin: 0 auto 15%;
    padding: 1%;
    max-width: 650px;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
  @media screen and (min-width: 769px) {
    .intro-hero {
      background: url("/public/assets/high-tech-bg.jpg") center center/cover no-repeat fixed; } }

.elsewhere {
  margin: 0 auto;
  max-width: 650px; }
  .elsewhere .elsewhere-item {
    transition: all 0.2s ease-in-out; }
    .elsewhere .elsewhere-item:hover {
      transform: scale(1.4); }
    .elsewhere .elsewhere-item:hover::after {
      position: absolute;
      font-size: 0.65em;
      text-align: center;
      top: 5em;
      left: 0;
      right: 0; }
      @media screen and (min-width: 769px) {
        .elsewhere .elsewhere-item:hover::after {
          font-size: 0.8em;
          top: 4em; } }
    .elsewhere .elsewhere-item.github:hover::after {
      content: "Github"; }
    .elsewhere .elsewhere-item.stackoverflow:hover::after {
      content: "StackOverflow"; }
    .elsewhere .elsewhere-item.linkedin:hover::after {
      content: "LinkedIn"; }
    .elsewhere .elsewhere-item.mail:hover::after {
      content: "Email"; }
    .elsewhere .elsewhere-item.resume:hover::after {
      content: "Resumé"; }

/*# sourceMappingURL=main.css.map */
